.btn.pink-button {
    background-color: rgb(255, 96, 167);
    color: white;
    padding-left: 7px;
    padding-right: 7px;
}

.btn.delete {
    float: right;
    background-color: red;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
}

.btn.edit {
    float: right;
    background-color: blue;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
}

.btn.update {
    float: right;
    background-color: teal;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
}